html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-main-background: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-main-heading-stats: hsl(0, 0%, 100%);
  --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-stats-heading: hsla(0, 0%, 100%, 0.6);
}
