html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-background);
  padding: 0;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-main-background: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-main-heading-stats: hsl(0, 0%, 100%);
  --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-stats-heading: hsla(0, 0%, 100%, 0.6);
}
/* Main Card */
.card {
  background: var(--color-card-background);
  border-radius: 2rem;
  overflow: hidden;
  margin: 10rem 2rem;
}
@media screen and (min-width: 768px) {
  .card {
    display: flex;
  }
}
.card-image {
  object-fit: cover;
  width: 100%;
}
.card-body {
  padding: 3rem 4rem;
  text-align: center;
}

.card__heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-main-heading-stats);
}
.insights {
  color: var(--color-accent);
}
.card__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-main-paragraph);
  letter-spacing: 0.1rem;
}
.stats__heading {
  color: var(--color-main-heading-stats);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.stats__text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  color: var(--color-stats-heading);
  margin-top: 0;
  letter-spacing: 0.3rem;
}
@media screen and (min-width: 768px) {
  .card-stats {
    display: flex;
    flex-direction: row;
  }
  .stats {
    margin: 2rem;
  }
}
